/* css styles */

/* Enlarge navbar logo */
.navbar-brand img, .quarto-navbar-logo {
	height: 30px !important;
	max-height: 30px !important;
}

/* Enlarge navbar title text */
.navbar-brand, .quarto-navbar-title {
	font-size: 1.3rem !important;
	font-weight: 500;
}

/* Enlarge navbar text */
.navbar .nav-link {
    font-size: 1.2rem;
    font-weight: 500;
}

.navbar .nav-link {
    transition: border-color 0.2s ease-in-out;
    border-bottom: 2px solid transparent; /* Invisible line in normal state */
}

.navbar .nav-link:hover {
    border-bottom: 2px solid #76cb4c; /* Line becomes visible on hover */
    color: #76cb4c; /* Changes text color to a brighter green on hover */
}